@charset "UTF-8";
/*
sass/
|
|– base/
|   |– _reset.scss              # Reset/normalize
|   |– _typography.scss         # Reguły dot. typografii
|   |- _root.scss
|
|– components/
|   |– _buttons.scss            # Przyciski
|   |- _header-bar
|   |– _carousel.scss           # Karuzela
|   |– _cover.scss              # Okładka
|   |– _dropdown.scss           # Rozwijane menu
|   …                           # Itd.
|
|– layout/
|   |– _navigation.scss         # Nawigacja
|   |– _grid.scss               # Grid system
|   |– _header.scss             # Nagłówek
|   |– _footer.scss             # Stopka
|   |– _forms.scss              # Formularze
|   |- _section-header
|   |- _section-contact.scss 
|
|– utils/
|   |– _variables.scss          # Zmienne Sassa
|   |– _functions.scss          # Funkcje Sassa
|   |– _mixins.scss             # Mixiny Sassa
|   |– _helpers.scss            # Pomocnicze klasy i selektory
|   
|
`– main.scss                    # Główny plik Sassa

*/
/* Font variables */
/* The basic font sizes used in the base for em unit */
/* Devices width for media query in typography */
/* Devices width for media query mixin */
/* Colors */
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:400,900|Roboto:100,400,900&amp;subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 21px;
  color: #FFFFFF;
}

@media (min-width: 250px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1366px) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-family: "Arima Madurai", cursive;
  font-size: 3.3125em;
  line-height: 3.3125;
}

h2 {
  font-family: "Arima Madurai", cursive;
  font-size: 2.25em;
  line-height: 2.25;
}

.sun h2 {
  line-height: 1.5;
  color: #000000;
}

h3 {
  font-family: "Arima Madurai", cursive;
  font-size: 1.5em;
  line-height: 1.5;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.2;
}

p, a {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::before, * ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: absolute;
  overflow-x: hidden;
  background-color: #00000B;
}

section {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: initial;
  text-decoration: none;
}

.header-bar {
  position: absolute;
  margin-top: 3vh;
  z-index: 10;
}

.logo-bar, .socialmedia-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 1366px) and (orientation: landscape) {
  .header-bar {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo-bar .logo {
  height: auto;
}

.logo-bar .menu {
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 250px) and (orientation: portrait) {
  .logo-bar .menu {
    margin: 0 5vw;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .logo-bar {
    width: unset;
  }
  .logo-bar .logo {
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    left: 35%;
  }
  .logo-bar .menu {
    position: fixed;
  }
}

.socialmedia-bar {
  height: 10vh;
}

.socialmedia-bar a {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.socialmedia-bar a img {
  height: 50px;
  width: auto;
}

@media (min-width: 250px) and (orientation: portrait) {
  .socialmedia-bar {
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 85vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialmedia-bar a {
    margin: 0 1.5vw 0 1.5vw;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .socialmedia-bar {
    width: initial;
    position: unset;
    margin-right: 3%;
  }
  .socialmedia-bar a {
    margin: 0 1vw 0 1vw;
  }
  .socialmedia-bar a img {
    height: 70px;
  }
}

.logo {
  width: calc(((100vw/12) * 7));
}

@media (min-width: 250px) and (orientation: portrait) {
  .logo {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .logo {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .logo {
    width: calc(((100vw/12) * 4));
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 250px) and (orientation: portrait) {
  .logo {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 1366px) and (orientation: landscape) {
  .logo {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .logo {
    width: calc(((100vw/12) * 2.5));
  }
}

@media (min-width: 1366px) and (orientation: landscape) and (min-width: 250px) and (orientation: portrait) {
  .logo {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) and (min-width: 1366px) and (orientation: landscape) {
  .logo {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.menu {
  width: calc(((100vw/12) * 2));
}

@media (min-width: 250px) and (orientation: portrait) {
  .menu {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .menu {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .menu {
    width: calc(((100vw/12) * 1.5));
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 250px) and (orientation: portrait) {
  .menu {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 1366px) and (orientation: landscape) {
  .menu {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .menu {
    width: calc(((100vw/12) * 0.6));
  }
}

@media (min-width: 1366px) and (orientation: landscape) and (min-width: 250px) and (orientation: portrait) {
  .menu {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) and (min-width: 1366px) and (orientation: landscape) {
  .menu {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.socialmedia-bar {
  width: calc(((100vw/12) * 12));
}

@media (min-width: 250px) and (orientation: portrait) {
  .socialmedia-bar {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .socialmedia-bar {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .socialmedia-bar {
    width: calc(((100vw/12) * 3));
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 250px) and (orientation: portrait) {
  .socialmedia-bar {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 1366px) and (orientation: landscape) {
  .socialmedia-bar {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .socialmedia-bar {
    width: calc(((100vw/12) * 2));
  }
}

@media (min-width: 1366px) and (orientation: landscape) and (min-width: 250px) and (orientation: portrait) {
  .socialmedia-bar {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 1366px) and (orientation: landscape) and (min-width: 1366px) and (orientation: landscape) {
  .socialmedia-bar {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.header-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("/img/stars-background.svg") repeat;
  background-size: 100%;
}

.solar-system {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solar-system div {
  position: absolute;
}

.solar-system .sun {
  z-index: 1;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solar-system .sun h2 {
  position: absolute;
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin: 0 10%;
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .sun {
    width: 18%;
  }
}

.solar-system .mercury {
  -webkit-animation: mercury 5s infinite linear;
          animation: mercury 5s infinite linear;
  z-index: 2;
  width: 6%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes mercury {
    from {
      -webkit-transform: rotate(0deg) translate(-32vw) rotate(0deg);
              transform: rotate(0deg) translate(-32vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-32vw) rotate(-360deg);
              transform: rotate(360deg) translate(-32vw) rotate(-360deg);
    }
  }
  @keyframes mercury {
    from {
      -webkit-transform: rotate(0deg) translate(-32vw) rotate(0deg);
              transform: rotate(0deg) translate(-32vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-32vw) rotate(-360deg);
              transform: rotate(360deg) translate(-32vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes mercury {
    from {
      -webkit-transform: rotate(0deg) translate(-12.30769vw) rotate(0deg);
              transform: rotate(0deg) translate(-12.30769vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-12.30769vw) rotate(-360deg);
              transform: rotate(360deg) translate(-12.30769vw) rotate(-360deg);
    }
  }
  @keyframes mercury {
    from {
      -webkit-transform: rotate(0deg) translate(-12.30769vw) rotate(0deg);
              transform: rotate(0deg) translate(-12.30769vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-12.30769vw) rotate(-360deg);
              transform: rotate(360deg) translate(-12.30769vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .mercury {
    width: 1%;
  }
}

.solar-system .venus {
  -webkit-animation: venus 7s infinite linear;
          animation: venus 7s infinite linear;
  z-index: 3;
  width: 6%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes venus {
    from {
      -webkit-transform: rotate(0deg) translate(-40vw) rotate(0deg);
              transform: rotate(0deg) translate(-40vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-40vw) rotate(-360deg);
              transform: rotate(360deg) translate(-40vw) rotate(-360deg);
    }
  }
  @keyframes venus {
    from {
      -webkit-transform: rotate(0deg) translate(-40vw) rotate(0deg);
              transform: rotate(0deg) translate(-40vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-40vw) rotate(-360deg);
              transform: rotate(360deg) translate(-40vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes venus {
    from {
      -webkit-transform: rotate(0deg) translate(-15.38462vw) rotate(0deg);
              transform: rotate(0deg) translate(-15.38462vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-15.38462vw) rotate(-360deg);
              transform: rotate(360deg) translate(-15.38462vw) rotate(-360deg);
    }
  }
  @keyframes venus {
    from {
      -webkit-transform: rotate(0deg) translate(-15.38462vw) rotate(0deg);
              transform: rotate(0deg) translate(-15.38462vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-15.38462vw) rotate(-360deg);
              transform: rotate(360deg) translate(-15.38462vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .venus {
    width: 1%;
  }
}

.solar-system .earth {
  -webkit-animation: earth 9s infinite linear;
          animation: earth 9s infinite linear;
  z-index: 4;
  width: 8%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes earth {
    from {
      -webkit-transform: rotate(0deg) translate(-49vw) rotate(0deg);
              transform: rotate(0deg) translate(-49vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-49vw) rotate(-360deg);
              transform: rotate(360deg) translate(-49vw) rotate(-360deg);
    }
  }
  @keyframes earth {
    from {
      -webkit-transform: rotate(0deg) translate(-49vw) rotate(0deg);
              transform: rotate(0deg) translate(-49vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-49vw) rotate(-360deg);
              transform: rotate(360deg) translate(-49vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes earth {
    from {
      -webkit-transform: rotate(0deg) translate(-18.84615vw) rotate(0deg);
              transform: rotate(0deg) translate(-18.84615vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-18.84615vw) rotate(-360deg);
              transform: rotate(360deg) translate(-18.84615vw) rotate(-360deg);
    }
  }
  @keyframes earth {
    from {
      -webkit-transform: rotate(0deg) translate(-18.84615vw) rotate(0deg);
              transform: rotate(0deg) translate(-18.84615vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-18.84615vw) rotate(-360deg);
              transform: rotate(360deg) translate(-18.84615vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .earth {
    width: 3%;
  }
}

.solar-system .mars {
  -webkit-animation: mars 10s infinite linear;
          animation: mars 10s infinite linear;
  z-index: 5;
  width: 7%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes mars {
    from {
      -webkit-transform: rotate(0deg) translate(-58vw) rotate(0deg);
              transform: rotate(0deg) translate(-58vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-58vw) rotate(-360deg);
              transform: rotate(360deg) translate(-58vw) rotate(-360deg);
    }
  }
  @keyframes mars {
    from {
      -webkit-transform: rotate(0deg) translate(-58vw) rotate(0deg);
              transform: rotate(0deg) translate(-58vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-58vw) rotate(-360deg);
              transform: rotate(360deg) translate(-58vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes mars {
    from {
      -webkit-transform: rotate(0deg) translate(-22.30769vw) rotate(0deg);
              transform: rotate(0deg) translate(-22.30769vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-22.30769vw) rotate(-360deg);
              transform: rotate(360deg) translate(-22.30769vw) rotate(-360deg);
    }
  }
  @keyframes mars {
    from {
      -webkit-transform: rotate(0deg) translate(-22.30769vw) rotate(0deg);
              transform: rotate(0deg) translate(-22.30769vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-22.30769vw) rotate(-360deg);
              transform: rotate(360deg) translate(-22.30769vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .mars {
    width: 2%;
  }
}

.solar-system .jupiter {
  -webkit-animation: jupiter 15s infinite linear;
          animation: jupiter 15s infinite linear;
  z-index: 6;
  width: 11%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes jupiter {
    from {
      -webkit-transform: rotate(0deg) translate(-70vw) rotate(0deg);
              transform: rotate(0deg) translate(-70vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-70vw) rotate(-360deg);
              transform: rotate(360deg) translate(-70vw) rotate(-360deg);
    }
  }
  @keyframes jupiter {
    from {
      -webkit-transform: rotate(0deg) translate(-70vw) rotate(0deg);
              transform: rotate(0deg) translate(-70vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-70vw) rotate(-360deg);
              transform: rotate(360deg) translate(-70vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes jupiter {
    from {
      -webkit-transform: rotate(0deg) translate(-26.92308vw) rotate(0deg);
              transform: rotate(0deg) translate(-26.92308vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-26.92308vw) rotate(-360deg);
              transform: rotate(360deg) translate(-26.92308vw) rotate(-360deg);
    }
  }
  @keyframes jupiter {
    from {
      -webkit-transform: rotate(0deg) translate(-26.92308vw) rotate(0deg);
              transform: rotate(0deg) translate(-26.92308vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-26.92308vw) rotate(-360deg);
              transform: rotate(360deg) translate(-26.92308vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .jupiter {
    width: 4.5%;
  }
}

.solar-system .saturn {
  -webkit-animation: saturn 17s infinite linear;
          animation: saturn 17s infinite linear;
  z-index: 7;
  width: 9%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes saturn {
    from {
      -webkit-transform: rotate(0deg) translate(-86vw) rotate(0deg);
              transform: rotate(0deg) translate(-86vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-86vw) rotate(-360deg);
              transform: rotate(360deg) translate(-86vw) rotate(-360deg);
    }
  }
  @keyframes saturn {
    from {
      -webkit-transform: rotate(0deg) translate(-86vw) rotate(0deg);
              transform: rotate(0deg) translate(-86vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-86vw) rotate(-360deg);
              transform: rotate(360deg) translate(-86vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes saturn {
    from {
      -webkit-transform: rotate(0deg) translate(-33.07692vw) rotate(0deg);
              transform: rotate(0deg) translate(-33.07692vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-33.07692vw) rotate(-360deg);
              transform: rotate(360deg) translate(-33.07692vw) rotate(-360deg);
    }
  }
  @keyframes saturn {
    from {
      -webkit-transform: rotate(0deg) translate(-33.07692vw) rotate(0deg);
              transform: rotate(0deg) translate(-33.07692vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-33.07692vw) rotate(-360deg);
              transform: rotate(360deg) translate(-33.07692vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .saturn {
    width: 4%;
  }
}

.solar-system .uranus {
  -webkit-animation: uranus 22s infinite linear;
          animation: uranus 22s infinite linear;
  z-index: 8;
  width: 13%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes uranus {
    from {
      -webkit-transform: rotate(0deg) translate(-102vw) rotate(0deg);
              transform: rotate(0deg) translate(-102vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-102vw) rotate(-360deg);
              transform: rotate(360deg) translate(-102vw) rotate(-360deg);
    }
  }
  @keyframes uranus {
    from {
      -webkit-transform: rotate(0deg) translate(-102vw) rotate(0deg);
              transform: rotate(0deg) translate(-102vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-102vw) rotate(-360deg);
              transform: rotate(360deg) translate(-102vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes uranus {
    from {
      -webkit-transform: rotate(0deg) translate(-39.23077vw) rotate(0deg);
              transform: rotate(0deg) translate(-39.23077vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-39.23077vw) rotate(-360deg);
              transform: rotate(360deg) translate(-39.23077vw) rotate(-360deg);
    }
  }
  @keyframes uranus {
    from {
      -webkit-transform: rotate(0deg) translate(-39.23077vw) rotate(0deg);
              transform: rotate(0deg) translate(-39.23077vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-39.23077vw) rotate(-360deg);
              transform: rotate(360deg) translate(-39.23077vw) rotate(-360deg);
    }
  }
}

@media (min-width: 250px) and (orientation: portrait) {
  .solar-system .uranus {
    display: none;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .uranus {
    width: 6%;
  }
}

.solar-system .neptune {
  -webkit-animation: neptune 28s infinite linear;
          animation: neptune 28s infinite linear;
  z-index: 9;
  width: 15%;
}

@media (min-width: 250px) and (orientation: portrait) {
  @-webkit-keyframes neptune {
    from {
      -webkit-transform: rotate(0deg) translate(-124vw) rotate(0deg);
              transform: rotate(0deg) translate(-124vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-124vw) rotate(-360deg);
              transform: rotate(360deg) translate(-124vw) rotate(-360deg);
    }
  }
  @keyframes neptune {
    from {
      -webkit-transform: rotate(0deg) translate(-124vw) rotate(0deg);
              transform: rotate(0deg) translate(-124vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-124vw) rotate(-360deg);
              transform: rotate(360deg) translate(-124vw) rotate(-360deg);
    }
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  @-webkit-keyframes neptune {
    from {
      -webkit-transform: rotate(0deg) translate(-47.69231vw) rotate(0deg);
              transform: rotate(0deg) translate(-47.69231vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-47.69231vw) rotate(-360deg);
              transform: rotate(360deg) translate(-47.69231vw) rotate(-360deg);
    }
  }
  @keyframes neptune {
    from {
      -webkit-transform: rotate(0deg) translate(-47.69231vw) rotate(0deg);
              transform: rotate(0deg) translate(-47.69231vw) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translate(-47.69231vw) rotate(-360deg);
              transform: rotate(360deg) translate(-47.69231vw) rotate(-360deg);
    }
  }
}

@media (min-width: 250px) and (orientation: portrait) {
  .solar-system .neptune {
    display: none;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .solar-system .neptune {
    width: 8%;
  }
}

.mercury:hover, .venus:hover, .earth:hover, .mars:hover,
.jupiter:hover, .saturn:hover, .uranus:hover, .neptune:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
/*# sourceMappingURL=main.css.map */