/* Font variables */
$arima: ('Arima Madurai', cursive);
$roboto: ('Roboto', sans-serif);

/* The basic font sizes used in the base for em unit */
$root-font-sizes: (
  'small': 12px,
  'medium': 14px,
  'large': 16px
);

/* Devices width for media query in typography */
$devices-t: (
  'small': 250px,
  'medium': 768px,
  'large': 1366px
);

/* Devices width for media query mixin */
$devices: (
  'small-p': 250px,
  'small-l': 500px,
  'medium-p': 768px,
  'medium-l': 768px,
  'large': 1366px
);

$orientations: (
  'l': 'landscape',
  'p': 'portrait'
);


/* Colors */
$navy-blue: #00000B;
$white: #FFFFFF;
$black: #000000;

/* Variables of preloader */
//variables
$bg-color: $black; //container background-color;
$basic-dark-color: $white; //color of the spinner
$border-width: 6px; //width of spinners border
$basic-spinner-dimensions: 125px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle