section.about-me-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include rwd ('small-l', 'l') {
    .about-me {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  @include rwd('medium-p', 'p') {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  @include rwd ('medium-l', 'l') {
    .about-me {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center
    }
  }
  @include rwd('large', 'l') {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .about-me {
      flex-direction: column;
    }
  }
}

.klaudia-img {
  border-radius: 50%;
  border: solid white 4px;
  margin-bottom: 25px;
  width: 100%;
  @include rwd ('small-l', 'l') {
    width: 40%;
  }
  @include rwd ('medium-l', 'l') {
    width: 30%;
  }
  @include rwd ('large', 'l') {
    width: 100%;
  }
}

.about-me-text {
  margin-bottom: 25px;
  @include rwd ('small-l', 'l') {
    width: 50%;
    margin-left: 20%;
  }
  @include rwd('medium-p', 'p') {
    text-align: left;
  }
  @include rwd ('small-l', 'l') {
    width: 55%;
    margin-left: 5%;
  }
  @include rwd('large', 'l') {
    text-align: left;
    width: 100%;
    margin-left: 0;
  }
}

.skill-container {
  width: 100%;
  height: 5vh;
  border: solid white 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  @include rwd ('small-l', 'l') {
    height: 10vh;
  }
  @include rwd ('medium-l', 'l') {
    height: 7vh;
  }
  @include rwd ('large', 'l') {
    height: 5vh;
  }
}
.skill-label {
  height: 100%;
  width: 30%;
  background-color: white;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-tank {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  p {
    margin-right: 2%;
  }
}
.skill-percent{
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;

  &.html5 {
    width: 90%;
  }
  &.css3 {
    width: 80%;
  }
  &.react {
    width: 30%;
  }
  &.js {
    width: 50%;
  }
  &.jquery {
    width: 60%;
  }
  &.git {
    width: 60%;
  }
  &.sass {
    width: 70%;
  }
  &.ux {
    width: 60%;
  }
}

.rwd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rwd-monitor {
  @include rwd('small-p', 'p') {
    display: none;
  }
  @include rwd('medium-p', 'p') {
    display: block;
    width: 60vw;
  }
}
.rwd-tablet {
  width: 60vw;
  @include rwd('medium-p', 'p') {
    width: 20vw;
  }
}
.rwd-smartphone {
  @include rwd('small-p', 'p') {
    display: none;
  }
  @include rwd('medium-p', 'p') {
    display: block;
    width: 10vw;
  }
}

.hobby-container {
  margin-top: 25px;

  @include rwd('small-l', 'l') {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  @include rwd('medium-p', 'p') {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  @include rwd('large', 'l') {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
.about-me-hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobby {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 50%;
    margin-bottom: 25px;
  }

  @include rwd('small-l', 'l') {
    width: 30%;
    justify-content: center;
  }
  @include rwd('medium-p', 'p') {
    width: 30%;
    justify-content: center;
  }
  @include rwd('large', 'l') {
    width: 25%;
    justify-content: center;
  }
}