.header-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("https://klaudiawojciak.pl/img/stars-background.svg") repeat;
  background-size: 100%;
}

.solar-system {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
  position: absolute;

  }
  .sun {
    width: 50%;
    display: flex;

    h2 {
      position: absolute;
      align-self: center;
      text-align: center;
      margin: 0 10%;
    }

    @include rwd('small-l', 'l') {
      width: 26%;
    }
    @include rwd('large', 'l') {
      width: 18%;
    }
  }
  
  .mercury {
    @include orbit-animation('mercury', 32vw, 5s);
    width: 6%;
    @include rwd('large', 'l') {
      width: 2%;
    }
  }
  .venus {
    @include orbit-animation('venus', 40vw, 7s);
    width: 6%;
    @include rwd('large', 'l') {
      width: 2%;
    }
  }
  .earth {
    @include orbit-animation('earth', 48vw, 9s);
    width: 8%;
    @include rwd('large', 'l') {
      width: 4%;
    }
  }
  .mars {
    @include orbit-animation('mars', 57vw, 10s);
    width: 7%;
    @include rwd('small-l', 'l') {
      display: none;
    }
    @include rwd('medium-l', 'l') {
      display: block;
      width: 5%;
    }
    @include rwd('large', 'l') {
      width: 3%;
    }
  }
  .jupiter {
    @include orbit-animation('jupiter', 70vw, 15s);
    width: 11%;
    @include rwd('small-l', 'l') {
      display: none;
    }
    @include rwd('medium-l', 'l') {
      display: block;
      width: 8%;
    }
    @include rwd('large', 'l') {
      width: 5.5%;
    }
  }
  .saturn {
    @include orbit-animation('saturn', 86vw, 17s);
    width: 9%;
    @include rwd('small-l', 'l') {
      display: none;
    }
    @include rwd('medium-l', 'l') {
      display: block;
      width: 5%;
    }
    @include rwd('large', 'l') {
      width: 5%;
    }
  }
  .uranus {
    @include orbit-animation('uranus', 102vw, 22s);
    width: 13%;
    @include rwd('small-p', 'p') {
      display: none;
    }
    @include rwd('small-l', 'l') {
      display: none;
    }
    @include rwd('medium-l', 'l') {
      display: block;
      width: 8%;
    }
    @include rwd('large', 'l') {
      width: 7%;
    }
  }
  .neptune {
    @include orbit-animation('neptune', 124vw, 28s);
    width: 15%;
    @include rwd('small-p', 'p') {
      display: none;
    }
    @include rwd('small-l', 'l') {
      display: none;
    }
    @include rwd('large', 'l') {
      display: block;
      width: 9%;
    }
  }
}

.mercury, .venus, .earth, .mars,
.jupiter, .saturn, .uranus, .neptune {
  &:hover {
    animation-play-state: paused;
  }
  img {
    width: 100%;
  }
}

.neptune img {
  width: 100%;
}

