.header-bar {
  position: absolute;
  margin-top: 3vh;
  z-index: 10;
}

.logo-bar, .socialmedia-bar {
  display: flex;
  flex-direction: row;
}


.header-bar {
  @include rwd('large', 'l') {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-bar{
  .logo {
    height: auto;
  }
  .menu {
    height: auto;
    align-self: center;
  }
  @include rwd('small-p', 'p') {
    .menu {
      margin: 0 5vw;
    }
  }
  @include rwd('large', 'l') {
    width: unset;
    .logo {
      position: absolute;
      align-self: center;
      left: 35%;
    }
    .menu {
      position: fixed;
    }
  }
}

