@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,900|Roboto:100,400,900&amp;subset=latin-ext');

// For setup font base size depends on device size
body {
  @include font-root;
  color: $white;
}

h1 {
  font-family: $arima;  
  @include vertical-rhythm(3.3125em);
}

h2 {
  font-family: $arima;  
  @include vertical-rhythm(2.25em);  
}

.sun h2 {
  line-height: 1.5;
  color: $black;
}

h3 {
  font-family: $arima;  
  @include vertical-rhythm(1.5em);  
}

input[type=submit] {
  font-family: $roboto;  
  @include vertical-rhythm(1.5em); 
}

h4 {
  font-family: $roboto; 
  @include vertical-rhythm(1em);  
}

p, a, textarea {
  font-family: $roboto; 
  @include vertical-rhythm(1em);
}

.skill-label h4 {
  font-weight: 900;
}

